<h1 class="cover-heading">Marionette Model Test</h1>
<p class="lead">Testing adding models and updated the view</p>
<p class="lead">
<button type="button" class="btn btn-lg btn-default">Go!</button>
<div id="#collections">
   
</div>